Dockerfile
.dockerignore
.git
venv
.venv
*/docs
*/tests
*/README.md

server/.openapi-generator
server/openapi-generator-templates
server/openapi-generator-cli-*
server/pdx-input

viewer/node_modules
viewer/out
viewer/npm-debug.log
viewer/.next